<header class="CGBNf7">
    <div class="_1tz-RS">
        <div class="Y5-ZPI">
            <div class="AsXM8z">
                <div class="row">
                    <a class="_2OJxl5" href="/">
                        <!-- <img width="110" src="http://via.placeholder.com/110X40" alt="Books Cart" title="Books Cart"> -->
                        <h4 style="color:white">MSIT Books Cart</h4>
                    </a>
                    <div class="_1NLCcM">
                        <div class="row">
                            <div class="col-11-12">
                                <div class="O8ZS_U">

                                </div>
                            </div>
                            <div class="col-1-12">
                            </div>
                            <input type="hidden" name="otracker" value="start">
                            <input type="hidden" name="as-show" value="off">
                            <input type="hidden" name="as" value="off">
                        </div>
                        <ul class="col-11-12 _1PBbw8"></ul>
                    </div>
                    <div class="_1Wr4v5">
                        <!-- <div class="_2f5Jjv">
                            <a class="_2k0gmP" href="/account/login?ret=/">Login &amp; Signup</a>
                        </div> -->
                        <!-- <div class="_2f5Jjv">
                            <div class="_20yN1P qt4LQw">
                                <span class="">More</span>
                            </div>
                            <svg width="4.7" height="8" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="_3eosFR">
                                <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="_2GxHSA"></path>
                            </svg>
                        </div> -->
                        <button type="button" class="btn btn-primary" onclick="clearcart();">clearcart</button>
                        <a class="_3NFO0d _2f5Jjv" href="/viewcart">
                            <svg class="_1-mlum" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path class="" d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86"
                                    fill="#fff"></path>
                            </svg>
                            <span id="b_cart_items_count"  class="_2bVfmg">-99</span>
                            <span class="DJrnBo">Cart</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>